<div class="splide md:mx-36">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide"><%- include("./coursecard.ejs") %></li>
			<li class="splide__slide"><%- include("./coursecard.ejs") %></li>
			<li class="splide__slide"><%- include("./coursecard.ejs") %></li>
            <li class="splide__slide"><%- include("./coursecard.ejs") %></li>
            <li class="splide__slide"><%- include("./coursecard.ejs") %></li>
            <li class="splide__slide"><%- include("./coursecard.ejs") %></li>
            <li class="splide__slide"><%- include("./coursecard.ejs") %></li>
		</ul>
	</div>
</div>


