<%- include("../partials/header.ejs") %> 
<main class="w-full flex-grow p-6">
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script> -->


<h1 class="text-3xl text-black pb-6"><%= courses_data[0].course_id %> - <%= courses_data[0].name %></h1>
<div class="mt-6">
    <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/coursedirectory/admin/<%= courses_data[0].course_id %>/faqs/add">Add FAQs</a>
</div>
<div class="w-auto mt-6 overflow-auto">
    <div class="bg-white">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="text-left py-3 px-4 uppercase font-semibold text-sm">FAQ No.</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Question</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Answer</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Edit</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Delete</th>
                </tr>
            </thead>
            <tbody class="text-gray-700" id="myMenu">
                <%faqs.forEach((faq,i)=>{ if(i%2){%>
                    <tr class="bg-gray-200">
                <%}else{%>
                    <tr>
                <%}%>
                <td class="text-left py-3 px-4"><%= i+1 %></td>
                <td class="w-1/3 text-left py-3 px-4"><%= faq.question %></td>
                <td class="w-1/3 text-left py-3 px-4"><%= faq.answer %></td>
                <td class="w-1/3 text-left py-3 px-4"><a href="/coursedirectory/admin/<%= courses_data[0].course_id %>/faqs/<%=faq._id %>">Edit</a></td>
                <td class="w-1/3 text-left py-3 px-4"><form action="/coursedirectory/admin/<%= courses_data[0].course_id %>/faqs/<%=faq._id %>?_method=DELETE" method="POST"> <button type="submit">DELETE</button> </form></td>
                </tr>
            <% })%>       
            </tbody>
        </table>
    </div>
</div>

  
</main>

<%- include("../partials/footer.ejs") %> 